<template>
  <div class="row">
    <div class="col-sm-4 offset-sm-2 mt-5">
      <form>


        <!-- <div class="form-group">                                                        -->
        <!--     <label for="formGroupExampleInput2">Password</label>                        -->
        <!--     <input name="password"                                                      -->
        <!--            v-model="password"                                                   -->
        <!--            type="password"                                                      -->
        <!--            :class="{'form-control':true, 'is-invalid': errors.has('password')}" -->
        <!--            id="formGroupExampleInput2"                                          -->
        <!--            placeholder="password"                                               -->
        <!--            v-validate="'required'">                                             -->
        <!--   <div :class="{'invalid-feedback': errors.has('password')}">                   -->
        <!--     {{ errors.first('password') }}                                              -->
        <!--   </div>                                                                        -->
        <!-- </div>                                                                          -->




        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input name="email"
                   type="email"
                   :class="{'form-control':true, 'is-invalid': errors.has('email')}"
                   v-model="form.password"
                   v-validate="'required|email'"
                   placeholder="example@email.com">
            <div :class="{'invalid-feedback': errors.has('email')}">
              {{ errors.first('email') }}
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Phone</label>
          <div class="col-sm-10">
            <input name="phone"
                   type="text"
                   v-model="form.phone"
                   v-validate="{required: true, regex: /((\+7|7|8)+([0-9]){10})/ }"
                   :class="{'form-control':true,  'is-invalid': errors.has('phone')}"
                   placeholder="+7 123 456 78 90">
            <div :class="{'invalid-feedback': errors.has('phone')}">
              {{ errors.first('phone') }}
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Username</label>
          <div class="col-sm-10">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">@</span>
              </div>
              <input name="username"
                     type="text"
                     v-model="form.username"
                     v-validate="'required|alpha|min:4|max:15'"
                     :class="{'form-control':true,  'is-invalid': errors.has('username')}"
                     placeholder="username"
                     aria-describedby="inputGroupPrepend3">
              <div :class="{'invalid-feedback': errors.has('username')}">
                {{ errors.first('username') }}
              </div>
            </div>
          </div>
        </div>


        <div class="form-group row">
          <label for="validatedCustomFile" class="col-sm-2 col-form-label">File</label>
          <div class="col-sm-10">
            <div class="custom-file">
              <input type="file"
                     class="custom-file-input"
                     id="validatedCustomFile"
                     @change="imageChanged"
                     required>
              <label class="custom-file-label" for="validatedCustomFile">Choose a picture...</label>
              <div class="invalid-feedback">Example invalid custom file feedback</div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary float-right" @click.prevent="createContact">Create</button>
      </form>
        <button type="button" class="btn btn-primary float-left" @click="getContacts">Contacts</button>
    </div>
    <div class="col-sm-4 mt-5 text-center">

      <img src="https://picsum.photos/300/300/?random" class="rounded" alt="...">

    </div>
  </div>
</template>

<script>
import { validator } from 'vee-validate'
export default{
  data(){
    return {
      form: {
        email: '',
        phone: '',
        username: '',
        file: ''
      }
    }
  },
  methods: {
    imageChanged(e){
      console.log(e.target.files[0])
      let fileReader = new FileReader()
      fileReader.readAsDataURL(e.target.files[0])

      fileReader.onload = (e) => {
        this.form.file = e.target.result
      }
      console.log(this.form)
    },
    createContact(){
      let url = contact

      Vue.axios.post(url, data)
        .then(response =>{

        })
        .catch(error =>{

        })

    },
    getContacts(){
      console.log('contacts:   ')
      let url = 'api/contact'
      this.axios.get(url)
        .then(response => {
          console.log(response.data)
        })
    }
  }
}
</script>
<style scoped>

</style>
