<template>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">
                <img src=" https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg " width="30" height="30" class="d-inline-block align-top" alt="">
                кавказ сувенир
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                      <router-link tag="li" to="/" class="nav-item" >
                        <a class="nav-link">Home</a>
                      </router-link>

                      <router-link tag="li" to="/contacts" class="nav-item" v-if="isAuthenticated">
                        <a class="nav-link">Contacts</a>
                      </router-link>


                      <router-link tag="li" to="/login" class="nav-item" v-if="!isAuthenticated">
                        <a class="nav-link">Login</a>
                      </router-link>

                      <li class="nav-item">
                        <a class="nav-link" href="#" @click="logout" v-if="isAuthenticated">Logout</a>
                      </li>
                </ul>
            </div>
        </nav>
    </div>
</template>

<script>
import store from '../store/store.js'
import { mapGetters } from 'vuex'
export default{
  data() {
    return {
    }
  },
  computed: {
    ...mapGetters([
      'isAuthenticated'
    ])
  },
  methods: {
    // setAuthenticatedUser(){
    //   this.axios.get('http://localhost:8000/api/user')
    //     .then(response =>{
    //       let user = response.data
    //       this.$store.commit('setAuthenticatedUser', user)
    //     })
    // },

    logout(){
      this.$store.commit('destroyToken')
      this.$router.push('/')
    }

  },
}
</script>
<style scoped>
</style>
