<template>
    <div>
        <div class="row">
            <div class="col-md-4 offset-4 mt-5">
                <form>
                    <div class="form-group">
                      <label for="validationServer02">Email</label>
                      <input name="email"
                             type="text"
                             v-model="email"
                             v-validate="'required|email'"
                             :class="{'form-control':true, 'is-invalid': errors.has('email')}"
                             id="validationServer02"
                             placeholder="email">
                      <div :class="{'invalid-feedback': errors.has('email')}">
                        {{ errors.first('email') }}
                      </div>
                      <div class="server-error">
                        {{ serverResponse.message }}
                      </div>
                    </div>

                    <div class="form-group">
                        <label for="formGroupExampleInput2">Password</label>
                        <input name="password"
                               v-model="password"
                               type="password"
                               :class="{'form-control':true, 'is-invalid': errors.has('password')}"
                               id="formGroupExampleInput2"
                               placeholder="password"
                               v-validate="'required'">
                      <div :class="{'invalid-feedback': errors.has('password')}">
                        {{ errors.first('password') }}
                      </div>
                    </div>

                    <button type="submit" @click.prevent="login" class="btn btn-primary float-right" :disabled="errors.any() || !isComplete">Login</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import store from '../../store/store.js'
import {mapGetters} from 'vuex'
import { Validator } from 'vee-validate'
export default{
  data () {
    return {
      email: '',
      password: '',
      serverResponse: {
        error: '',
        message: ''
      }
    }
  },
  methods: {
    login () {
      let url = 'oauth/token'
      let data = {
        client_id: 2,
        client_secret: 'Oq4fiSwAtPqE9cwc5AJNutw6m3BD0yBB9q4rs0og',
        grant_type: 'password',
        username: this.email,
        password: this.password
      }

      this.axios.post(url, data)
        .then(response => {

          let token = response.data.access_token
          let expiration = response.data.expires_in + Date.now()
          let data = {
            'token': token,
            'expiration': expiration
          }

          this.$store.commit('setToken', data)
          this.$router.push('/contacts')
        })
        .catch(error => {
          this.serverResponse.error = error.response.data.error
          this.serverResponse.message = error.response.data.message
        })
    }
  },
  computed: {
    isComplete () {
      return this.email && this.password
    },
  },
  watch: {
    email(newVal, oldVal){
      this.serverResponse.error = ''
      this.serverResponse.message = ''
    }
  }
}
</script>
<style scope>
.server-error {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}
</style>
